/* David Rodriguez Chanca UO289521 */
/*Colores: 
#E5DECD = Crema 
#080808 = Negro 
#D1A05C = MarronClaro
#BD9242 = Dorado
#0D1C17 = Verde oscuro
#000033 = Morado 
#000075 = AzulMarino 
#762D2D = Marrón
#454545 = Gris 
#ffffff = Blanco
#000 = Negro
*/


/*Especificacion 001 */
body{
    font-family: Verdana,Geneva,sans-serif;
    background-color:  #E5DECD;
    color: #000; 
}
/*Especificacion 001 */
header{
    background-color: #D1A05C ;
    /* color heredado de body*/
    padding: 2%;
    gap: calc(15vw + 5%) 0;
}

/*Especificacion 001 */
h1{
    color: #0D1C17;
    /*background-color heredado de header*/
    text-decoration: none;
   
}
/*Especificacion 001 */
nav{
    color: #BD9242;
     /*background-color heredado de header*/ 
    padding: 1%
}

/*Especificacion 003 */
header nav a{
    color: #000033;
     /*background-color heredado de header*/
    padding: 0.5em 3em;   
    border: 1vw;
}
/*Especificacion 001 */
table{
    border: 0.1rem SOLID #000075; 
}

/*Especificacion 002 */
header a{
    /*background-color heredado de body*/
    color: #0E1F1A;
    text-decoration: none;
    padding: 1em;
}

/*Escificacion 011*/
a:hover{
    font-weight: bolder;
}
/*Escificacion 001*/
ul{
    list-style-type: "---> " ;
    list-style-position: outside;
}
/*Escificacion 001*/
ol{
    list-style-position: inside;
}
/*Especificacion 002 */
ol ul{
    /*background-color heredado de body*/
    color:#762D2D
}
/*Especificacion 002 */
dl dt{
     font-weight: 400;
}
/*Especificacion 002 */
dl dd{
    font-style:italic;
    /*background-color heredado de body*/
    color:#454545
}
/*Especificacion 001 */
caption{
    font-size: large;

}
/*Especificacion 001 */
video{
    width: 100%;
    height: auto;
}
/*Especificacion 010 */
.active{
    font-size: x-large;
    font-weight: 600;
    font-style:oblique; 
}
/*Especificacion 003 */
section nav a {
    color: #ffffff;
    background: #000;
    border-radius: 1.5vw;
}
@media(max-width:465px){
    /*Especificacion 002 */
    header + p {
        display: none
    }
}



